<div class="my-4 bg-white border border-gray-200 rounded w-3/4">
  <div class="px-4 py-1 border-b border-gray-200">
    <h3 class="font-bold text-md">Change password</h3>
  </div>
  <div class="p-4">
    <form
      action="/change_password"
      method="post"
      class="flex items-end space-x-4"
    >
      <div class="flex flex-col space-y-2 w-full">
        <label for="" class="font-bold text-md">Old password</label>
        <input
          type="password"
          name="old_password"
          id="old_password"
          class="rounded p-2 bg-gray-100 border border-gray-200"
          placeholder="Old password..."
        />
      </div>
      <div class="flex flex-col space-y-2 w-full">
        <label for="" class="font-bold text-md">New password</label>
        <input
          type="password"
          name="new_password"
          id="new_password"
          class="rounded p-2 bg-gray-100 border border-gray-200"
          placeholder="New password..."
        />
      </div>
      <button
        type="submit"
        class="bg-blue-500 text-white px-6 py-2 font-semibold rounded text-center"
      >
        <span>Save</span>
      </button>
    </form>
  </div>
</div>
