<div class="flex justify-end items-center bg-white py-4 px-6">
  <!-- Profile dropdown -->
  <div class="ml-3 relative">
    <div
      class="flex text-sm border-2 border-gray-200 rounded transition duration-150 ease-in-out bg-gray-100 p-2 font-semibold"
    >
      <%= user.email %>
    </div>
    <!-- Profile dropdown menu -->
    <div></div>
  </div>
</div>
