<div class="p-4">
  <%- include('./partials/messages') %>
  <h1 class="font-bold text-lg">WordPress guide</h1>
  <%- include('./partials/domains/plugin') %>
  <h1 class="font-bold text-lg">My websites</h1>
  <%- include('./partials/domains/websites') %>
</div>
