<div class="my-4 p-4 bg-white border border-gray-200 rounded w-3/4">
  <div class="flex justify-between items-start">
    <div class="w-3/4">
      <h3 class="text-md font-bold">Install the PostWiz plugin</h3>
      <ol class="list-decimal px-4 mt-4">
        <li>
          Manually install the plugin to WordPress site on your website domain.
        </li>
        <li>Activate the Plugin.</li>
        <li>In Plugin Settings, configure the secret key.</li>
        <li>
          In Plugin Settings, configure the Unsplash Access Key and Pixabay API
          key.
        </li>
        <li>
          Before posting with project Bruno, ensure categories and authors are
          properly set up.
        </li>
      </ol>
    </div>
    <a
      href="#"
      class="bg-blue-500 text-white px-6 py-2 font-semibold rounded w-1/4 text-center"
      >Download plugin</a
    >
  </div>
</div>
